//! **************************************************************************
// Written by: Map P.28xd on Sun Mar 12 20:58:06 2017
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

