//! **************************************************************************
// Written by: Map P.28xd on Mon Mar 13 02:49:30 2017
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

